{% extends "::base.html.twig" %}

{% block navbar_brand %}SAM{% endblock %}

{% block body %}
    {% block subheader %}
    {% endblock %}
    {% block container %}
    {% endblock %}
    <h1>I'm Sam, please custom me :'(</h1>
    <div id="base-modal" class="modal fade">
    {% block base_modal %}
        <div class="modal-dialog">
            <div class="modal-content">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    {% endblock %}
    </div><!-- /.modal -->
{% endblock %}

