{% if (is_granted('BUSINESS_CREATE_CLIENT')) %}
    <a class="btn btn-primary" href="{{ path('sam_client_new') }}">
        <span class="glyphicon glyphicon-plus"></span>
        {{'client.new.title'|trans}}
    </a>
{% endif %}
